.books-section{
    height: 100vh;
    background-color:lightsteelblue;
    background-blend-mode: multiply;
    position: relative;
}
.background{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('/assets/tablet-l/background_day_bottom.png');
    background-size: cover;
    filter: blur(40px);
    background-repeat: no-repeat;
    background-position: relative;
}
.side-bar{
    position: relative;
    top: 10%;
    z-index: 1;
    width: 6%;
}
.side-bar-contents img{
    transform: translate(-12%);
    width: 80px;
    height: 500px;
    border-radius: 15px;
}
.side-bar-contents p{
    position: absolute;
    top: 50%;
    left: 15%;
    font-size: 25px;
    width: 20px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-family: bree;
}
.books{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    top: 12%;
    color: #fff;
    font-size: 25px;
}
.books img{
    max-width: 140px;
    border:none !important;
    /* border-radius: 4px */
}
.mybtn{
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translate(-50%);
}
.main-books-container{
    display: flex;
    width: 100%;
    max-width: 90%;
    position: absolute;
    top: 30%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* margin: 0 auto; */
    left: 50%;
    transform: translate(-50%);
}
.books{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    top: 5%;
    color: #fff;
    font-size: 25px;
}
.books img{
    max-width: 120px;
    border: 4px solid red;
    border-radius: 4px
}
.books-container{
    display: flex;
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translate(-50%);    
}
[class^="books-container"]
{
    margin-left: 2.5em;
}
.books-container{
    position: relative;
    max-width: 300px;
    height: 264px;
    padding: 0;
    border-radius: 15px;
    background: red;
}
.books-card{
    position: relative;
    max-width: 300px;
    padding: 0;
    margin: 0;
}
.video{
 position: relative;
    
}
.lock-overlay img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.lock-overlay .lock-bar{
    width: 100%;
}
.lock-overlay .lock-icon{
    top: 5%;
    left: 25%;
    width: 15px;
}
.lock-overlay p{
    position: absolute;
    top: 5%;
    right: 25%;
    color: #fff;
    font-family: bree;
    font-size: 14px;
}
.books-card .caption{
    padding: 0em;
    background: red;
    position: absolute;
    top: 86%;
    left: 6%;
    right: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #fff;
    font-family: bree;
    text-align: left;
}
.caption p{
    padding: 8px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 13px;
    font-weight: 500 !important;
}
.fav-btn{    
    position: absolute;
    top: 113%;
    width: 100px;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
}
.fav-btn img{
    width: 15px;
    height: 15px;
    margin-bottom: 10%;
    cursor: pointer;
}
.fav-btn p{
    margin-right: auto;
    margin-left:10px;
    text-transform: uppercase;
    font-family: bree;
    font-weight: bold;
    font-size: 12px;
    margin-top: 5%;
    cursor: pointer;
}
#button-fav{
    display: flex;
    width: 108px;
    height: 32px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background: #fff;
    filter: drop-shadow(0 2px 2px rgba(0,0,0,.6));
    cursor: pointer;
}
#button-fav:focus{
    outline: none;
}
favBtnClick{
    color: white;
    background-color: red;
}
/* @media(max-width:1025px)
{    
    .books-section{
        background-size: contain;
        height: 1320px;  
    }
    .books{
        top: 2%;
    }
    .main-books-container{
        display:grid;
        grid-gap: 70px;
        margin-left: auto;
        margin-right: auto;
        left: 40%;
        top: 15%;
        width: 20%;
    }
} */
/* @media(max-width:500px)
{
    .side-bar{
    position: relative;
    top: 10%;
    }
.side-bar-contents img{
    transform: translate(-12%);
    width: 45px;
    height: 500px;
    border-radius: 15px;
    }
.side-bar-contents p{
    position: absolute;
    top: 50%;
    left: 1%;
    font-size: 20px;
    width: 30px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-family: bree;
    }
} */


.playlist-icon-top{
    position: absolute;
    top: 0%;
    right: 50%;
    transform: translate(50%);
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 80px;
}
.playlist-icon-top h3{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    font-size: 23px;
    color: #444;
    font-family: bree;
}
.playlist-icon-top img{
    max-width: 200px;
}
.img-thumbnail{
    border: 3px solid #fff !important;
    position: relative;
}
.activeImg{
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.playbtn{
    background-color: red !important;
    color: white !important;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    padding: .2em 1em;

}
 .leftRs {
    position: absolute;
    margin: auto;
    top: -125px;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    left: 0;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: -125px;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    right: 0;
}
@media(max-width:736px){
    .side-bar-contents img{
        width: 60px;
        height: 212px;
    }
    .side-bar{
        top: 23%;
    }
    .side-bar-contents p{
        top: 30%;
    }
    img.img-thumbnail{
        width: 172px;
    }
    .main-books-container{
        max-width: 80%;
        height: 50%;
    }
    .rightRs{
        top: -33px;
        right: 26%;
    }
    .leftRs{
        top: -33px;
        left: 25%;
    }
    #video{
        max-width: 60%;
    }

}
@media(max-width:640px){
    .rightRs{
        right: 27%;
    }
    .leftRs{
        left: 27%;
    }
}

@media(max-width:1024px){
.main-books-container{
    max-width: 80%;
    }
    .rightRs{
        right: 137px;
        top: -110px;
    }
    .leftRs{
        left: 138px;
    }
}


/* test */




.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
    position: relative;
    width: 100vw !important;
    height: 100vh !important;
    text-align: center;
    z-index: -1;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    z-index: 1;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.disabled {
    /* cursor: not-allowed; */
    pointer-events: none;
}
.fa{
    font-size: 55px !important;
    color: #fff !important;
}
.favouriteFocus:focus .fa{
    color: #333 !important;
    /* background-color: red; */
 }

 .Duration{
    position: absolute;
    top: 55%;
    background: rgba(0,0,0,.7);
    padding: 0px 6px;
    color: #fff;
    font-size: 10px;
    border-radius: 2px;
    left: 3%;
 }