.books-section{
    height: 100vh;
    background-color:lightsteelblue;
    background-blend-mode: multiply;
    position: relative;
    overflow: hidden;
}
.background{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('/assets/tablet-l/background_day_bottom.png');
    background-size: cover;
    filter: blur(40px);
    background-repeat: no-repeat;
    background-position: relative;
}
.side-bar{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 6%;
}
.side-bar-contents img{
    transform: translate(-12%);
    width: 80px;
    height: 500px;
    border-radius: 15px;
}
.side-bar-contents p{
    position: absolute;
    top: 50%;
    left: 15%;
    font-size: 25px;
    width: 20px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-family: bree;
}
.books{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    top: 12%;
    color: #fff;
    font-size: 25px;
}
.books img{
    max-width: 152px;
    border: 9px solid #fff;
    border-radius: 15px;
    
    /* border-radius: 4px */
}
.mybtn{
    max-width: 45px;
    position: absolute;
    top: 4%;
    right: 5%;
}
.main-books-container{
    display: flex;
    width: 100%;
    max-width: 95%;
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translateX(-50%) translateY(-50%);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* margin: 0 auto; */
}
.books{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    top: 5%;
    color: #fff;
    font-size: 25px;
}
.books img{
    max-width: 120px;
    border: 4px solid #fff;
    border-radius: 4px
}
.books-container{
    display: flex;
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translate(-50%);    
}
[class^="books-container"]
{
    margin-left: 2.5em;
}
.books-container{
    position: relative;
    max-width: 300px;
    height: 264px;
    padding: 0;
    border-radius: 15px;
    background: red;
}
.books-card{
    position: relative;
    max-width: 300px;
    padding: 0;
    margin: 0;
}
.video{
 position: relative;
    
}
.lock-overlay img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.lock-overlay .lock-bar{
    width: 100%;
}
.lock-overlay .lock-icon{
    top: 5%;
    left: 25%;
    width: 15px;
}
.lock-overlay p{
    position: absolute;
    top: 5%;
    right: 25%;
    color: #fff;
    font-family: bree;
    font-size: 14px;
}
.books-card .caption{
    padding: 0em;
    background: red;
    position: absolute;
    top: 86%;
    left: 6%;
    right: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #fff;
    font-family: bree;
    text-align: left;
}
.caption p{
    padding: 8px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 13px;
    font-weight: 500 !important;
}
.fav-btn{    
    position: absolute;
    top: 113%;
    width: 100px;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
}
.fav-btn img{
    width: 15px;
    height: 15px;
    margin-bottom: 10%;
    cursor: pointer;
}
.fav-btn p{
    margin-right: auto;
    margin-left:10px;
    text-transform: uppercase;
    font-family: bree;
    font-weight: bold;
    font-size: 12px;
    margin-top: 5%;
    cursor: pointer;
}
#button-fav{
    display: flex;
    width: 108px;
    height: 32px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background: #fff;
    filter: drop-shadow(0 2px 2px rgba(0,0,0,.6));
    cursor: pointer;
}
#button-fav:focus{
    outline: none;
}
favBtnClick .fav-btn p{
    color: white;
    background-color: red;
}
/* @media(max-width:1025px)
{    
    .books-section{
        background-size: contain;
        height: 1320px;  
    }
    .books{
        top: 2%;
    }
    .main-books-container{
        display:grid;
        grid-gap: 70px;
        margin-left: auto;
        margin-right: auto;
        left: 40%;
        top: 15%;
        width: 20%;
    }
} */
/* @media(max-width:500px)
{
    .side-bar{
    position: relative;
    top: 10%;
    }
.side-bar-contents img{
    transform: translate(-12%);
    width: 45px;
    height: 500px;
    border-radius: 15px;
    }
.side-bar-contents p{
    position: absolute;
    top: 50%;
    left: 1%;
    font-size: 20px;
    width: 30px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-family: bree;
    }
} */


.playlist-icon-top{
    position: absolute;
    top: 0%;
    right: 50%;
    transform: translate(50%);
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 80px;
}
.playlist-icon-top h3{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    font-size: 23px;
    color: #444;
    font-family: bree;
}
.playlist-icon-top img{
    max-width: 200px;
}
/* .img-thumbnail{
    border: 10px solid #fff;
    border-radius: 4px;
    position: relative;
} */
.activeImg{
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.playbtn{
    background-color: red !important;
    color: white !important;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    padding: .2em 1em;

}
 .leftRs {
    position: absolute;
    margin: auto;
    top: -65px;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    left: -93%;
    right: 0;
    opacity: 0;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: -60px;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    right: 0;
    opacity: 0;
    /* left: ; */
}
@media(max-width:736px){
    .side-bar-contents img{
        width: 60px;
        height: 212px;
    }
    .side-bar{
        top: 23%;
    }
    .side-bar-contents p{
        top: 30%;
    }
    img.img-thumbnail{
        width: 172px;
    }
    .main-books-container{
        max-width: 80%;
        height: 50%;
    }
    .rightRs{
        top: -33px;
        right: 26%;
    }
    .leftRs{
        top: -33px;
        left: 25%;
    }
    #video{
        max-width: 60%;
    }

}
@media(max-width:640px){
    .rightRs{
        right: 27%;
    }
    .leftRs{
        left: 27%;
    }
}

@media(max-width:1024px){
.main-books-container{
    max-width: 80%;
    }
    .rightRs{
        right: 137px;
        top: -110px;
    }
    .leftRs{
        left: 138px;
    }
}


/* test */




.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
    position: relative;
    width: 100vw !important;
    height: 100vh !important;
    text-align: center;
    z-index: -1;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    z-index: 1;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.disabled {
    /* cursor: not-allowed; */
    pointer-events: none;
}

.favouriteFocus{
background-color: white !important ;
border-radius: 50px !important;
    /* background-color: red; */
 }

 .Duration{
    position: absolute;
    top: 55%;
    background: rgba(0,0,0,.7);
    padding: 0px 6px;
    color: #fff;
    font-size: 10px;
    border-radius: 2px;
    left: 3%;
 }

 .imgActive{
    -ms-transform: scale(1.4); /* IE 9 */
    -webkit-transform: scale(1.4); /* Safari 3-8 */
    transform: scale(1.4); 
}
.imgActive:focus{
    -ms-transform: scale(1.4); /* IE 9 */
    -webkit-transform: scale(1.4); /* Safari 3-8 */
    transform: scale(1.4); 
}
.subCard{
    max-width: 152px !important ;
    border: 9px solid #fff !important;
    border-radius: 15px !important;
}




/* water animation */

   /* flask */

   .css-jar {
    position: relative;
    width: 195px;
    margin: 0px -56px;
    margin-top: 50%;
    text-align: center;
    transform: scale(2.5) translateY(-50%);
    overflow: hidden;
  }
  .css-jar .flask-base {
    margin: auto;
    width: 33px;
    height: 97px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    /* border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%; */
    overflow: hidden;
    position: relative;
    z-index: 5;
    background: radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.67), rgba(240, 245, 255, 0.73) 40%, rgba(225, 238, 255, 0.68) 60%, rgba(43, 130, 255, 0.19));  }

.css-jar .css-liquid {
    height: 100% ;
    background-color: rgba(53, 238, 251, 0.58);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .css-jar .css-wave {
    width: 58px;
    height: 19px;
    position: absolute;
    background-color: rgb(53,238,251);
    left: 0;
    top: 9px;
    animation: css-wave 1.15s linear 1.15s infinite alternate;
    -o-animation: css-wave 1.15s linear 1.15s infinite alternate;
    -ms-animation: css-wave 1.15s linear 1.15s infinite alternate;
    -webkit-animation: css-wave 1.15s linear 1.15s infinite alternate;
    -moz-animation: css-wave 1.15s linear 1.15s infinite alternate;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }
  .css-jar .css-wave + .css-wave {
    left: auto;
    right: 0;
  }
  .css-jar .flask-base .css-bubble {
    left: 15px;
    top: 49px;
    animation: css-bounce 2.65s linear 0s infinite alternate;
    -o-animation: css-bounce 2.65s linear 0s infinite alternate;
    -ms-animation: css-bounce 2.65s linear 0s infinite alternate;
    -webkit-animation: css-bounce 2.65s linear 0s infinite alternate;
    -moz-animation: css-bounce 2.65s linear 0s infinite alternate;
  }
  .css-jar .flask-base .css-bubble + .css-bubble {
    left: 73px;
    top: 39px;
    animation-duration: 3.45s;
    -o-animation-duration: 3.45s;
    -ms-animation-duration: 3.45s;
    -webkit-animation-duration: 3.45s;
    -moz-animation-duration: 3.45s;
  }

  @keyframes css-wave {
    from {
    transform: translateX(97px);
    }
    to {
    transform: translateX(-97px);
    }
   }
   
   @keyframes css-bounce {
    0% {
    transform: translate(5px, 15px);
    }
    50% {
    transform: translate(0, -15px);
    }
    100% {
    transform: translate(-5px, -36px);
    opacity: 1;
    }
   }
   
   @keyframes css-buble {
    0% {
    transform: translate(3px, 10px);
    }
    25% {
    transform: translate(0, 0px);
    }
    50% {
    transform: translate(-3px, -24px);
    }
    75% {
    transform: translate(0, -49px);
    opacity: 1;
    }
    100% {
    transform: translate(3px, -97px);
    opacity: 0;
    }
   }

   /* bubbles */


   #background-wrap {
    bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

/* ANIMATIONS */

.x1 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
    left: 0%;
    top: 5%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x2 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
    left: 10%;
    top: 0;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x3 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
    left: 1%;
    top: 0%;
	
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
}

.x4 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
    left: 10%;
    top: 0;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
    left: 10%;
    top: 8%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x6 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
    left: 30%;
    top: 0;

	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}

.x7 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
    left: 25%;
    top: 10%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x8 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 30%;
    top: 10%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x9 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
    left: 25%;
    top: 50%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x10 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
    left: 30%;
    top: 80%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

/* OBJECTS */

.bubble {
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	
    height: 20px;
	position: absolute;
	width: 20px;
}

.bubble:after {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	
	content: "";
    height: 30px;
	left: 10px;
	position: absolute;
	width: 30px;
}



