<section class="books-section">
  <div class="background"></div>
  <div class="side-bar">
    <div class="side-bar-contents">
      <div class="css-jar">
        <div class="flask-base">
          <div class="side-bar-contents">
            <div class="css-liquid" [style.height]="waterPxCountdown"> </div>
            <div id="background-wrap">
              <div class="bubble x1"></div>
              <div class="bubble x2"></div>
              <div class="bubble x3"></div>
              <div class="bubble x4"></div>
              <div class="bubble x5"></div>
              <div class="bubble x6"></div>
              <div class="bubble x7"></div>
              <div class="bubble x8"></div>
              <div class="bubble x9"></div>
              <div class="bubble x10"></div>
            </div>
          </div>
        </div>
        <p>{{countDown}} </p>
      </div>
    </div>
  </div>

  <div (click)="goToHome()" #home>
    <img [ngClass]="{'favouriteFocus':1==crossColor}" class="mybtn" src="/assets/svgs/video_card_cross.svg">
  </div>

  <div class="books">
    <img [style.background-image]="'url('+color+')'" src={{imgUrl}}>
  </div>

  <div class="main-books-container">
    <ngx-carousel [inputs]="carouselTile" [moveToSlide]="arrayIndex" (onMove)="onmoveFn($event)">
      <ngx-tile NgxCarouselItem *ngFor="let vid of video;  let i = index">
        <div style=" cursor: pointer;" data-toggle="modal" data-target="#videoModdal" (click)="openNav()">
          <img class="activeImg" src={{vid[0].imgUrl}} [ngClass]="{'imgActive':i==arrayIndex}" />
          <span class="Duration" [ngClass]="{'imgActive':i==arrayIndex}">{{vid[0].duration}} min</span>
          <div class="caption">
            <p style="     color: white; font-weight: 900; background-color: red;margin-top: -2%;" [ngClass]="{'imgActive':i==arrayIndex}">{{vid[0].Title}}</p>
          </div>
        </div>
        <div class="fav-btn" style="cursor: pointer;" (click)="addToFav(vid[0].id)">
          <button type="button" value="btn" id="button-fav" *ngIf="beforeFavCall">
                  <img src="assets/svgs/like.svg">
                  <p>Favorite</p>
              </button>
          <button type="button" value="btn" id="button-fav" *ngIf="success">
                  <img src="assets/svgs/error.svg">
                  <p>Delete</p>
              </button>
        </div>
      </ngx-tile>
      <button NgxCarouselPrev #previous class='leftRs'>&lt;</button>
      <button NgxCarouselNext #next class='rightRs'>&gt;</button>

    </ngx-carousel>
  </div>



  <!-- Full screen modal to show video -->


  <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" #close (click)="closeNav()">&times;</a>
    <div class="overlay-content">
      <vg-player (onPlayerReady)="onPlayerReady($event)" [hidden]="!isPlaying">
        <vg-overlay-play [vgFor]="singleVideo"></vg-overlay-play>
        <vg-buffering></vg-buffering>
        <vg-scrub-bar [vgFor]="singleVideo">
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>
        <vg-controls>
          <vg-play-pause></vg-play-pause>
          <vg-playback-button></vg-playback-button>
          <vg-time-display [vgFor]="singleVideo" vgProperty="current" vgFormat="mm:ss"></vg-time-display>
          <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
          <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
          <vg-track-selector></vg-track-selector>
          <vg-mute></vg-mute>
          <vg-volume></vg-volume>
          <vg-fullscreen></vg-fullscreen>
        </vg-controls>
        <video #media [vgMedia]="media" preload="auto" id="singleVideo">
          <source #src *ngFor="let vid of video" src={{vid[0].videourl}} type="video/mp4">

        </video>
      </vg-player>
    </div>
  </div>



</section>