<section class="books-section">
  <div class="background"></div>
  <div class="side-bar">
    <div class="side-bar-contents">
      <img src="/assets/svgs/water_background.svg">
      <p>{{time}} </p>
    </div>
  </div>
  <div (click)="goToHome()" #home>
    <img [ngClass]="{'favouriteFocus':1==crossColor}" class="mybtn" src="/assets/svgs/video_card_cross.svg">
  </div>
  <div class="books">
    <img class="subCard img-thumbnail" [style.background]='color' src={{imgUrl}}>

  </div>
  <div class="main-books-container">
    <ngx-carousel [inputs]="carouselTile" [moveToSlide]="arrayIndex" (onMove)="onmoveFn($event)">
      <ngx-tile NgxCarouselItem *ngFor="let vid of video;  let i = index">
        <img class="activeImg" src={{vid[0].imgUrl}} [ngClass]="{'imgActive':i==arrayIndex}" />
        <button class="btn playbtn" data-toggle="modal" data-target="#videoModdal" (click)="openNav()" [ngClass]="{'imgActive':i==arrayIndex}">Play</button>
        <span class="Duration" [ngClass]="{'imgActive':i==arrayIndex}">{{vid[0].duration}} min</span>
        <!-- <div class="lock-overlay">
          <img class="lock-bar" src="assets/svgs/video_card_lock_bar.svg">
          <img class="lock-icon" src="assets/svgs/video_card_lock.svg">
          <p>Press to unlock</p>
        </div> -->
        <div class="caption">
          <p style="     color: white; font-weight: 900; background-color: red;margin-top: -2%;" [ngClass]="{'imgActive':i==arrayIndex}">{{vid[0].Title}}</p>
        </div>
        <div class="fav-btn" style="cursor: pointer;" (click)="addToFav(vid[0].id)">
          <button [ngClass]="{'favBtnClick':true}" type="button" value="btn" id="button-fav">
                  <img src="assets/svgs/video_card_heart.svg">
                  <p>Favorite</p>
              </button>
        </div>
      </ngx-tile>
      <button NgxCarouselPrev #previous class='leftRs'>&lt;</button>
      <button NgxCarouselNext #next class='rightRs'>&gt;</button>

    </ngx-carousel>
  </div>



  <!-- Full screen modal to show video -->


  <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" #close (click)="closeNav()">&times;</a>
    <div class="overlay-content">
      <vg-player (onPlayerReady)="onPlayerReady($event)" [hidden]="!isPlaying">
        <vg-overlay-play></vg-overlay-play>
        <vg-buffering></vg-buffering>
        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>
        <vg-controls>
          <vg-play-pause></vg-play-pause>
          <vg-playback-button></vg-playback-button>
          <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
          <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
          <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
          <vg-track-selector></vg-track-selector>
          <vg-mute></vg-mute>
          <vg-volume></vg-volume>
          <vg-fullscreen></vg-fullscreen>
        </vg-controls>
        <video #media [vgMedia]="media" preload="auto" [vgDash]="currentStream" [vgHls]="currentStream" id="singleVideo">
        </video>
      </vg-player>
    </div>
  </div>



</section>