<section class="books-section">
  <div class="background"></div>
  <div class="side-bar">
    <div class="side-bar-contents">
      <img src="/assets/svgs/water_background.svg">
      <p>90 min</p>
    </div>
  </div>
  <a [routerLink]="['/favorites']">
    <div class="playlist-icon-top">
      <img src="assets/svgs/navigation_favorites_top.svg">
      <h3>Favourite</h3>
    </div>
  </a>
  <div class="main-books-container">
    <ngx-carousel [inputs]="carouselTile">
      <ngx-tile NgxCarouselItem *ngFor="let url of uri">
        <video style="width: 100%;" id="video" width="640" src={{url}} controls></video>
        <div class="lock-overlay">
          <img class="lock-bar" src="assets/svgs/video_card_lock_bar.svg">
          <img class="lock-icon" src="assets/svgs/video_card_lock.svg">
          <p>Press to unlock</p>
        </div>
        <div class="caption">
          <p style="     color: white; font-weight: 900; background-color: red;margin-top: -2%;">Catty Jane</p>
        </div>
        <div class="fav-btn" style="cursor: pointer;" (click)="addToFav(vid[0].id)">
          <button type="button" value="btn" id="button-fav">
                  <img src="assets/svgs/video_card_heart.svg">
                  <p>favourite</p>
              </button>
        </div>
      </ngx-tile>
      <button NgxCarouselPrev class='leftRs'>&lt;</button>
      <button NgxCarouselNext class='rightRs'>&gt;</button>

    </ngx-carousel>
  </div>

  <!-- <video id="video" width="640" poster="//shaka-player-demo.appspot.com/assets/poster.jpg" controls autoplay></video> -->
</section>