.run-time-over-section{
    width: auto;
    min-height: 100vh;
    background:#2e336c;
    padding: 0 3em;
    text-align: center;
    background-size: cover;
    position: relative;
    box-sizing: border-box;
}
.sleeping-moon-image img{
    max-width: 420px;
    z-index: 10000;
}
.para-1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    font-size: 50px;
    font-weight: bold;
    font-family: bree;
    color: #fff;
    width: 100%;
    
}
.para-2{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    font-size: 32px;
    font-weight: bold;
    font-family: bree;
    color: aqua;
    border: 6px solid aqua;
    border-radius: 12px;
    padding: .3em 1em;
    width: 270px;
}
.sub-para{
    font-style: normal;
    font-size: 21px;
    font-family: bree light;
}
@media(max-width:812px)
{
    .para-1{
        top: 45%;
        font-size: 32px
    }
    .para-2{
        font-size: 28px;
    }
    .sleeping-moon-image img{
        max-width:300px ;
        width:100%;
}
} 
