
.playlist-section{
    background-image: url('/assets/tablet-l/background.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color:lightsteelblue;
    background-blend-mode: multiply;
    overflow: hidden;
    position: relative;
}

.footer-heading{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
    height: 80px;
}
.footer-heading img{
    max-width: 200px;
}
.footer-heading h3{
    position: absolute;
    top: 50%;;
    left: 50%;
    transform: translate(-50%);
    font-size: 25px;
    font-family: bree;
    color: #444;
}
@media(max-width:812px)
{
    .footer-heading{
        height: 67px;
    }
}
.side-bar{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 6%;
}
.side-bar-contents img{
    transform: translate(-12%);
    width: 80px;
    height: 500px;
    border-radius: 15px;
}
.side-bar-contents p{
    position: absolute;
    top: 50%;
    left: 1%;
    font-size: 25px;
    width: 40px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-family: bree;
    z-index: 10000;
}
.playlist{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    top: 5%;
    color: #fff;
    font-size: 25px;
}
.playlist img{
    max-width: 100px;
}
.playlist h3{
    margin-top: -10px;
    font-family: bree;
}
.main-videocard-container{
    cursor: pointer;
    display: flex;
    width: 100%;
    max-width: 95%;
    position: absolute;
    top: 50%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    left: 53%;
    transform: translateX(-50%) translateY(-35%);
}
[class^="video-card-container"]
{
    margin-left: 2.5em;
}
.video-card-container{
    position: relative;
    max-width: 300px;
    height: 264px;
    padding: 0;
    border-radius: 15px;
    background: red;
}
.video-card{
    position: relative;
    max-width: 300px;
    padding: 0;
    margin: 0;
}
/* .caption{
    padding: 1em;
    background: red;
    position: absolute;
    bottom: -49px; 
    left: 0;
    right: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #fff;
    font-family: bree;
    font-weight: 500;
    font-size: 13px;
    text-align: left;
} */
.caption p{
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 13px;
    font-weight: 500 !important;
}
.delete-btn{    
    position: absolute;
    top: 155%;
    width: 100px;
    left: 50%;
    transform: translate(-50%);
}
.delete-btn svg{
    width: 15px;
    height: 15px;
    margin-right: auto;
    margin-left: 0px !important;
    margin-bottom: 13px !important; 
}
.delete-btn p{    
    margin-top: 2%;
    margin-right: auto;
    margin-left: 10px;
    text-transform: uppercase;
    font-family: bree;
    font-weight: bold;
    font-size: 13px !important;
}
#button{
    display: flex;
    width: 100px;
    height: 32px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background: #fff;
    filter: drop-shadow(0 2px 2px rgba(0,0,0,.6));
}
#button:focus{
    outline: none;
}
.video-card-container{
    position: relative;
    max-width: 300px;
    height: 264px;
    padding: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: red;
}
.lock-overlay img{
    position: absolute !important;
    top: 0% !important;
    left: 0 !important;
    right: 0 !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}
.lock-overlay .lock-bar{
    width: 100% !important;
}
.lock-overlay .lock-icon{
    margin-left: 26%;
    margin-top: 3%;
    width: 15px;
}
.lock-overlay p{
    position: absolute;
    top: 5%;
    right: 25%;
    color: #fff;
    font-family: bree;
    font-size: 14px;
}

.video-card .caption{
    padding: 1em;
    background: red;
    position: absolute;
    bottom: -45px; 
    left: 0;
    right: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #fff;
    font-family: bree;
    text-align: left;
}
.delete-btn{    
    position: absolute;
    top: 210px;
    width: 170px;
    left: 50%;
    transform: translate(-50%);
}
.delete-btn svg{
    width: 15px;
    height: 15px;
    margin-right: auto;
    margin-left: 7px;
}
.delete-btn p{
    margin-right: auto;
    margin-left: 10px;
    text-transform: uppercase;
    font-family: bree;
}
#button{
    display: flex;
    width: 100px;
    height: 32px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background: #fff;
    filter: drop-shadow(0 2px 2px rgba(0,0,0,.6));
}
#button:focus{
    outline: none;
}
.video-card-container{
    position: relative;
    max-width: 300px;
    height: 264px;
    padding: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: red;
    
}
.video-card{
    position: relative;
    max-width: 300px;
    padding: 0;
    margin: 0;
}
.video-card .caption{
    padding: 1em;
    background: red;
    position: absolute;
    bottom: -45px; 
    left: 0;
    right: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #fff;
    font-family: bree;
    font-weight: bold;
    text-align: left;
}
.delete-btn{    
    position: absolute;
    top: 110%;
    width: 100px;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
}
.delete-btn svg{
    width: 15px;
    height: 15px;
    margin-right: auto;
    margin-left: -5px;
    margin-bottom: 9px;
}
.delete-btn p{
    margin-top: 2%;
    margin-right: auto;
    margin-left: 10px;
    text-transform: uppercase;
    font-family: bree;
    font-weight: bold;
}
#button{
    display: flex;
    width: 100px;
    height: 32px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background: #fff;
    filter: drop-shadow(0 2px 2px rgba(0,0,0,.6));
}
#button:focus{
    outline: none;
}
.img-thumbnail{
    border: 3px solid #fff !important;
    position: relative;
}
.activeImg{
    max-width: 100%;
}
.playbtn{
    background-color: red !important;
    color: white !important;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    padding: .5em 1.5em;
}
@media(max-width:1024px)
{    
    .playlist-section{
        background-size: cover;
        background-repeat: no-repeat;  
    }
    .playlist{
        top: 2.5%;
    }
    .main-video-card container{
        left: 50%;
        transform: translate(-50%);    
        position: relative;
        max-width: 300px;
        height: 263px;
        padding: 0;
        border-radius: 15px;
        background: red;
}
    .video-card{
        top: 2%;
    }
    .video-card .lock-overlay img{
        position: absolute;
        top: -3%;
        left: 0;
        right: 0;
        box-sizing: border-box;
}

}
@media(max-width:812px)
{    
    .playlist{
        top: -4%;
        left: 50%;
        transform: scale(.6) translateX(-50%);
    }
    .main-videocard-container{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        left: 9%;
        top: 60%;
        flex-wrap: wrap;
        transform:scale(.89) translateY(-50%);
        width: 116%;
        max-width: none;
    } 
    
}
/* @media(max-width:500px)
{    
    .main-videocard-container{
     display: flex;
     margin-left: auto;
     margin-right: auto;
     left: 14%;
     top: 14%;
     flex-wrap: wrap;
     margin-bottom: 100px;
    }
    .video-card .lock-overlay .lock-bar{
        position: absolute;
        top: -3%;
        width: 100.6%;
        left: auto;
    }

    .video-card-container{
        margin-bottom:90px;
    }
    .side-bar{
    position: relative;
    top: 10%;
    }
    .side-bar-contents img{
    transform: translate(-12%);
    width: 45px;
    height: 500px;
    border-radius: 15px;
    }
    .side-bar-contents p{
    position: absolute;
    top: 50%;
    left: 1%;
    font-size: 20px;
    width: 30px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-family: bree;
    }
} */

/*  =========================   Playlist Settings ===========================*/

.playlist-setting{
    background: src("assets/tablet-l/background_day_top.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: rgba(0,0,0,.2);
    background-blend-mode:overlay;
}
.playlist-icon-top{
    position: absolute;
    top: 0%;
    right: 50%;
    transform: translate(50%);
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 80px;
}
.playlist-icon-top h3{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    font-size: 23px;
    color: #444;
    font-family: bree;
}
.playlist-icon-top img{
    max-width: 200px;
}
.playlist-setting-footer{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
    height: 80px;
}
.playlist-setting-footer img{
    max-width: 200px;
}
.playlist-setting-footer h3{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(42%);
    font-size: 23px;
    color: #444;
    font-family: bree;
}
.main-card-container{
    display: flex;
    width: 100%;
    position: absolute;
    top: 30%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card-container img{
    width: 240px;
    padding-left: 20px;
    position: relative;
}
.card-container .active img{
    width: 320px;
}
.card-poster img{
    position: absolute;
    top: 70px;
    left: 13%;
    max-width: 200px;
    background: red;
}


.run-time-over-section{
    width: auto;
    min-height: 100vh;
    background:#2e336c;
    padding: 0 3em;
    text-align: center;
    background-size: cover;
    position: relative;
    box-sizing: border-box;
}
.sleeping-moon-image img{
    max-width: 420px;
    z-index: 10000;
}
.para-1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    font-size: 50px;
    font-weight: bold;
    font-family: bree;
    color: #fff;
    width: 100%;
    
}
.para-2{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    font-size: 32px;
    font-weight: bold;
    font-family: bree;
    color: aqua;
    border: 6px solid aqua;
    border-radius: 12px;
    padding: .3em 1em;
    width: 270px;
}
.sub-para{
    font-style: normal;
    font-size: 21px;
    font-family: bree light;
}
@media(max-width:812px)
{
    .para-1{
        top: 45%;
        font-size: 32px
    }
    .para-2{
        font-size: 28px;
    }
    .sleeping-moon-image img{
        max-width:300px ;
        width:100%;
}
}

.leftRs {
    position: absolute;
    margin: auto;
    top: -125px;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    left: 0;
    right: 95%;
    opacity: 0;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: -125px;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    right: 0;
    left: 95%;
    opacity: 0;
}


/* modal style */




.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
    position: relative;
    width: 100vw !important;
    height: 100vh !important;
    text-align: center;
    z-index: -1;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    z-index: 1;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* .favouriteFocus:focus .footer-heading h3{
    color: #4dbcae;
 } */
 .favouriteFocus {
    color: #4dbcae !important;
    /* background-color: red; */
 }
 .Duration{
    position: absolute;
    top: 55%;
    background: rgba(0,0,0,.7);
    padding: 0px 6px;
    color: #fff;
    font-size: 10px;
    border-radius: 2px;
    left: 3%;
 }

 .imgActive{
    -ms-transform: scale(1.4); /* IE 9 */
    -webkit-transform: scale(1.4); /* Safari 3-8 */
    transform: scale(1.4); 
}
.imgActive:focus{
    -ms-transform: scale(1.4); /* IE 9 */
    -webkit-transform: scale(1.4); /* Safari 3-8 */
    transform: scale(1.4); 
}
.activeImg{
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 0px;
    margin-bottom: 3px;
}




/* water animation */

   /* flask */

   .css-jar {
    position: relative;
    width: 195px;
    margin: 0px -56px;
    margin-top: 50%;
    text-align: center;
    transform: scale(2.5) translateY(-50%);
    overflow: hidden;
  }
  .css-jar .flask-base {
    margin: auto;
    width: 33px;
    height: 97px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    /* border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%; */
    overflow: hidden;
    position: relative;
    z-index: 5;
    background: radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.67), rgba(240, 245, 255, 0.73) 40%, rgba(225, 238, 255, 0.68) 60%, rgba(43, 130, 255, 0.19));  }

.css-jar .css-liquid {
    height: 100% ;
    background-color: rgba(53, 238, 251, 0.58);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .css-jar .css-wave {
    width: 58px;
    height: 19px;
    position: absolute;
    background-color: rgb(53,238,251);
    left: 0;
    top: 9px;
    animation: css-wave 1.15s linear 1.15s infinite alternate;
    -o-animation: css-wave 1.15s linear 1.15s infinite alternate;
    -ms-animation: css-wave 1.15s linear 1.15s infinite alternate;
    -webkit-animation: css-wave 1.15s linear 1.15s infinite alternate;
    -moz-animation: css-wave 1.15s linear 1.15s infinite alternate;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }
  .css-jar .css-wave + .css-wave {
    left: auto;
    right: 0;
  }
  .css-jar .flask-base .css-bubble {
    left: 15px;
    top: 49px;
    animation: css-bounce 2.65s linear 0s infinite alternate;
    -o-animation: css-bounce 2.65s linear 0s infinite alternate;
    -ms-animation: css-bounce 2.65s linear 0s infinite alternate;
    -webkit-animation: css-bounce 2.65s linear 0s infinite alternate;
    -moz-animation: css-bounce 2.65s linear 0s infinite alternate;
  }
  .css-jar .flask-base .css-bubble + .css-bubble {
    left: 73px;
    top: 39px;
    animation-duration: 3.45s;
    -o-animation-duration: 3.45s;
    -ms-animation-duration: 3.45s;
    -webkit-animation-duration: 3.45s;
    -moz-animation-duration: 3.45s;
  }

  @keyframes css-wave {
    from {
    transform: translateX(97px);
    }
    to {
    transform: translateX(-97px);
    }
   }
   
   @keyframes css-bounce {
    0% {
    transform: translate(5px, 15px);
    }
    50% {
    transform: translate(0, -15px);
    }
    100% {
    transform: translate(-5px, -36px);
    opacity: 1;
    }
   }
   
   @keyframes css-buble {
    0% {
    transform: translate(3px, 10px);
    }
    25% {
    transform: translate(0, 0px);
    }
    50% {
    transform: translate(-3px, -24px);
    }
    75% {
    transform: translate(0, -49px);
    opacity: 1;
    }
    100% {
    transform: translate(3px, -97px);
    opacity: 0;
    }
   }

   /* bubbles */


   #background-wrap {
    bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

/* ANIMATIONS */

.x1 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
    left: 0%;
    top: 5%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x2 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
    left: 10%;
    top: 0;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x3 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
    left: 1%;
    top: 0%;
	
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
}

.x4 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
    left: 10%;
    top: 0;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
    left: 10%;
    top: 8%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x6 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
    left: 30%;
    top: 0;

	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}

.x7 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
    left: 25%;
    top: 10%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x8 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 30%;
    top: 10%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x9 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
    left: 25%;
    top: 50%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x10 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
    left: 30%;
    top: 80%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

/* OBJECTS */

.bubble {
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	
    height: 20px;
	position: absolute;
	width: 20px;
}

.bubble:after {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	
	content: "";
    height: 30px;
	left: 10px;
	position: absolute;
	width: 30px;
}

