<section class="age-section">
  <div class="main-container">
    <div class="hello-div">
      <h2>Hello,</h2>
      <p>please confirm your year of birth before continuing.</p>
    </div>
    <div class="age-box-div">
      <input id="age-input-box" type="text" placeholder="Y Y Y Y">
    </div>
    <div class="information-div">This information is never stored and is only used to gain access to the parental controls.</div>
    <div class="number-div">
      <div class="01"><button class="btn" type="button" data-number="1">1</button></div>
      <div class="02"><button class="btn" type="button" data-number="2">2</button></div>
      <div class="03"><button class="btn" type="button" data-number="3">3</button></div>
      <div class="04"><button class="btn" type="button" data-number="4">4</button></div>
      <div class="05"><button class="btn" type="button" data-number="5">5</button></div>
      <div class="06"><button class="btn" type="button" data-number="6">6</button></div>
      <div class="07"><button class="btn" type="button" data-number="7">7</button></div>
      <div class="08"><button class="btn" type="button" data-number="8">8</button></div>
      <div class="09"><button class="btn" type="button" data-number="9">9</button></div>
      <div class="00 last"><button class="btn" type="button" data-number="0">0</button></div>
      <div class="remove-icon">
        <a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" width="50px"
            height="50px" viewBox="0 0 612 612">
            <g>
              <g id="backspace">
                <path d="M561,76.5H178.5c-17.85,0-30.6,7.65-40.8,22.95L0,306l137.7,206.55c10.2,12.75,22.95,22.95,40.8,22.95H561    c28.05,0,51-22.95,51-51v-357C612,99.45,589.05,76.5,561,76.5z M484.5,397.8l-35.7,35.7L357,341.7l-91.8,91.8l-35.7-35.7    l91.8-91.8l-91.8-91.8l35.7-35.7l91.8,91.8l91.8-91.8l35.7,35.7L392.7,306L484.5,397.8z"
                  fill="#999" />
              </g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>