<section class="playlist-setting">
  <div class="playlist-icon-top">
    <img src="assets/svgs/navigation_favorites_top.svg">
    <h3>Playlist</h3>
  </div>

  <div class="main-card-container">
    <ngx-carousel [inputs]="carouselTile">
      <ngx-tile NgxCarouselItem *ngFor="let folder of folders">
        <div (click)="goToVideoPage(folder[0].id)">
          <img class="activeImg" [style.background]="folder[0].color " src={{folder[0].imgUrl}}/>
        </div>
      </ngx-tile>

      <button NgxCarouselPrev class='leftRs'>&lt;</button>
      <button NgxCarouselNext class='rightRs'>&gt;</button>

    </ngx-carousel>
  </div>

  <a [routerLink]="[ '/settings'] ">
    <div class="playlist-setting-footer ">
      <img src="assets/svgs/navigation_settings_bottom.svg ">
      <h3>Settings</h3>
    </div>
  </a>
</section>