<section class="playlist-setting">
  <div class="side-bar">
    <div class="css-jar">
      <div class="flask-base">
        <div class="side-bar-contents">
          <div class="css-liquid" [style.height]="waterPxCountdown"> </div>
          <div id="background-wrap">
            <div class="bubble x1"></div>
            <div class="bubble x2"></div>
            <div class="bubble x3"></div>
            <div class="bubble x4"></div>
            <div class="bubble x5"></div>
            <div class="bubble x6"></div>
            <div class="bubble x7"></div>
            <div class="bubble x8"></div>
            <div class="bubble x9"></div>
            <div class="bubble x10"></div>
          </div>
        </div>
      </div>
      <p>{{countDown}} </p>
    </div>
  </div>

  <!-- end of animation -->
  <div class="playlist-icon-top" (click)="goToFavPage()" #favorite>
    <img src="assets/svgs/navigation_favorites_top.svg">
    <h3 [ngClass]="{'favouriteFocus':1==Favcolor}">Favourite</h3>
  </div>

  <div class="main-card-container">
    <ngx-carousel [inputs]="carouselTile" [moveToSlide]="arrayIndex" (onMove)="onmoveFn($event)">
      <ngx-tile NgxCarouselItem class="ngxcarouselPoint" *ngFor="let folder of folders; let i = index">
        <div (click)="goToVideoPage(folder[0].id,folder[0].imgUrl,folder[0].color)" #slider class="sliderFocus">
          <img class="background-img" [style.background-image]="'url('+folder[0].color+')'" [ngClass]="{'imgActive':i==arrayIndex}"
            src={{folder[0].imgUrl}}/>
        </div>
      </ngx-tile>
      <button NgxCarouselPrev #previous class='leftRs'>&lt;</button>
      <button NgxCarouselNext #next class='rightRs'>&gt;</button>

    </ngx-carousel>
  </div>

  <a class="help" (click)="showWalkthrough()"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
  <div *ngIf="walkThrough">
    <div class="overlay">
      <div class="keyboard-img">
        <img src="/assets/svgs/keyboard.png">
      </div>
      <div class="close-btn" (click)="hideWalkthrough()">
        <img src="/assets/svgs/close.png">
      </div>
    </div>
  </div>

  <div class="playlist-setting-footer " (click)="goToSettingsPage()" #setting>
    <img src="assets/svgs/navigation_settings_bottom.svg ">
    <h3 [ngClass]="{'settingFocus':1==settingsColor}">Settings</h3>
  </div>
</section>