.videos-filter-1{
    background: radial-gradient(circle,brown 0%,steelblue 90%);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.2);
    background-blend-mode: overlay;
    position: relative;
    overflow: hidden;
}
.video-filter-top{
    position:absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    height: 80px;
    position: fixed;
}
.video-filter-top h3{
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%);
    font-size: 23px;
    color: #444;
    font-family: bree;
}
.video-filter-top img{
    max-width: 200px;
}
.main-element-container{
     display: inline-flex;   
     margin-top: 200px ;
     justify-content: center;
     /* margin-left: 8%; */
     position: absolute;
     left: 50%;
     transform: translate(-50%);
}
[class^="box"] img{
    max-width: 320px;
    margin: 20px;
    position: relative;
}
.box-1{
    position: relative;
}
.text-box-1{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
}
.text-box-1 ul{
    position: absolute;
    width: 100%;
    padding-top: 60px;
    list-style: none;
    text-align: left;
    font-size: 20px;
    line-height: 1.9em;
    padding-left: 0;
}
.text-box-1 li{
    text-align: center;
}
.last-item{
    /* top: 174px;
    right: -88px; */
}
.text-box-1  img{
    display: inline-block !important;  
    right: -48%;
    max-width: 30px;
    position: absolute;
    margin: 5px;
    
}
.text-box-1 h4{
    font-size: 24px;
    font-family: bree;
    font-weight: 500;
}

@media(max-width:1408px)
{
    .videos-filter-1{
        overflow: scroll;
    }
    .main-element-container{
        transform: none;
        left: auto;

    }
}
@media(max-width:360px) {
    .main-element-container{
        top: -3%;
    }
    
}
@media(max-width:840px){
    .main-element-container{
        margin-top:-5%;
}
}
@media(max-width:1024px) {
    .main-element-container{
        margin-top: 40%;
    }
    
}
.selected-text{
    color: #4eb3a6;
}
@media(max-width:1024px){
    .main-element-container{
        margin-top: 25%;
    }
    [class^="box"] img{
        max-width: 320px;
    }
    .text-box-1 ul{
        padding-top: 0;
        font-size: 19px;
    }
    .text-box-1 h4{
        font-size: 23px;
        padding-top: 15px;
    }
    .text-box-1  img{
        max-width: 23px;
        right: -30%;
    }
}
@media(max-width:812px){
    .main-element-container{
        margin-top: 10%;
    }
    [class^="box"] img{
        max-width: 170px;
    }
    .text-box-1 ul{
        padding-top: 0;
        font-size: 14px;
    }
    .text-box-1 h4{
        font-size: 16px;
        padding-top: 15px;
    }
    .text-box-1  img{
        max-width: 23px;
        right: -30% !important;
    }
    .video-filter-top img{
        max-width: 140px;
    }
    .video-filter-top h3{
        top: 6%;
    }
    .last-check{
        left: 100%;
    }
}

@media(min-width:812px) and (max-width:1535px)
{   
    .main-element-container{
        margin-top: 8%;
    }
    [class^="box"] img{
        max-width: 220px;
    }
    .text-box-1 ul{
        padding-top: 0;
        font-size: 14px;
    }
    .text-box-1 h4{
        font-size: 16px;
        padding-top: 15px;
    }
    .text-box-1  img{
        max-width: 23px;
        right: -30% !important;
    }
}

.homeFocus{
    color: #4dbcae !important;
 }
 .imgActive{
    transform: scale(1.2); 
}
selected_item{
    color:red;
    text-align: left;
    transform: scale(1.5);
}
.test:focus{
    color:red;
    transform: scale(1.5);
}


.selected_item{
    background: white;
        color: black !important;
}